*
	margin: 0
	padding: 0

body
	padding: 30px
	background-color: #EEE

.samples

	&__sample
		display: inline-block
		width: 10rem
		height: 10rem
		margin-right: 15px
		border: 1px solid #aaa
		font-size: 2em
		text-align: center
		line-height: 10rem
		cursor: pointer
